html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 720px) {
  .row-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .align {
    flex: 1 1 80%;
    margin-left: 16px;
  }

  .title {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .search {
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    width: 95%;
  }

  .search input {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .row-wrap {
    flex-direction: row;
    justify-content: center;
  }

  .align {
    flex: 1 1 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 0px;
  }

  .title {
    padding-left: 48px;
    padding-right: 0px;
  }

  .search {
    padding-left: 48px;
    padding-right: 48px;
  }
}